<ng-static-grid-panel columns="24" rows="24">

    <ng-container *ngFor="let i of [1, 2, 3, 4]">
        <ng-static-grid-item #item1 id="# {{i}}" x="{{6 * (i-1)}}" [y]="i" width="4" height="4">
            <div class="card custom">
                <div class="card-header">{{ item1.id }}</div>
                <div class="card-body">
                    <p>x:&nbsp;{{ item1.x }} / y:&nbsp;{{ item1.y }}</p>
                    <p>w:&nbsp;{{ item1.width }} / h:&nbsp;{{ item1.height }}</p>
                </div>
            </div>
        </ng-static-grid-item>
    </ng-container>

    <ng-static-grid-item #item id="Control Panel" x="2" y="14" width="20" height="10">
        <div class="card" style="width: 100%; height: 100%; overflow: scroll;">
            <div class="card-body">
                <h6 class="card-subtitle mb-3 text-muted">{{ item.id }}
                    <div class="btn-group float-right" role="group">
                        <button type="button" class="btn btn-primary" (click)="doSet()">Set</button>
                        <button type="button" class="btn btn-primary" (click)="doRead()">Read</button>
                    </div>
                </h6>
                <div #jsonEditor></div>
            </div>
        </div>
    </ng-static-grid-item>

</ng-static-grid-panel>