<ul class="nav nav-tabs">
  <li class="nav-item">
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/simple-usage']" 
                          routerLinkActive="active">Simple</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/complex-usage']" 
                        routerLinkActive="active">Complex Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/save-restore']" 
                        routerLinkActive="active">Save & Restore</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/grid-canvas']" 
                        routerLinkActive="active">Grid & Canvas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/grid-canvas-alt']"
       routerLinkActive="active">Grid & Canvas Alternative</a>
  </li>
</ul>
<div class="grid-content">
  <router-outlet></router-outlet>
</div>
