<ng-static-grid-panel rows="24" columns="24">
    <ng-static-grid-item x="1" width="22" height="2">
        <h1>Page Title</h1>
    </ng-static-grid-item>

    <ng-static-grid-item x="16" y="4" width="6" height="4">
      <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Some text ...</p>
            </div>
        </div>
    </ng-static-grid-item>

    <ng-static-grid-item x="9" y="4" width="6" height="4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 2</h5>
                <p class="card-text">Some text ...</p>
            </div>
        </div>
    </ng-static-grid-item>

    <ng-static-grid-item x="2" y="6" width="6" height="4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 3</h5>
                <p class="card-text">Some text ...</p>
            </div>
        </div>
    </ng-static-grid-item>

    <ng-static-grid-item x="2" y="11" width="6" height="4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 4</h5>
                <p class="card-text">Some text ...</p>
            </div>
        </div>
    </ng-static-grid-item>

    <ng-static-grid-item x="9" y="13" width="6" height="4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 5</h5>
                <p class="card-text">Some text ...</p>
            </div>
        </div>
    </ng-static-grid-item>

    <ng-static-grid-item x="16" y="16" width="6" height="4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 6</h5>
                <p class="card-text">Some text ...</p>
            </div>
        </div>
    </ng-static-grid-item>
    <ng-static-grid-item x="1" y="22" width="22" height="2">
        <div class="alert alert-primary rounded-top" role="alert">
            A simple primary alert—check it out!
        </div>
    </ng-static-grid-item>
</ng-static-grid-panel>