:host {
    background: transparent;
    font-size: 1.5rem;
}
.alert {
    margin-bottom: 0;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card, .card-body {
    width: 100%;
    height: 100%;
}
.card {
    overflow: scroll;
    background: var(--gray-dark);
    color: white;
    border-radius: .5em;
}